table, th, td{
    border: 1px solid black;
    border-collapse:collapse;
    padding: 10px;
}
thead{
    background-color: cornflowerblue;
}

table{
    margin: 0 auto;
    text-align: center;
}

h3{
    text-align: center;
    color:blue;
}